%% -*- erlang -*-
{sub_dirs, ["rel", "apps/mps", "apps/flake"]}.
{cover_enabled, true}.
{erl_opts, [debug_info, warnings_as_errors]}.
{edoc_opts, [{dir, "../../doc"}]}.
{deps, [
	{riak_core, "1.3.*",
         {git, "git://github.com/basho/riak_core", {tag, "1.3.2"}}},
	{cowboy, "0.8.*",
         {git, "git://github.com/extend/cowboy", {tag, "0.8.5"}}},
	{mimetypes, ".*",
	 {git, "git://github.com/spawngrid/mimetypes.git", "master"}},
	{gproc, ".*",
	 {git, "git://github.com/uwiger/gproc.git", "master"}}
       ]}.
 
