{sys, [
       {lib_dirs, ["../apps/", "../deps/"]},
       {rel, "mps", "1",
        [
         kernel,
         stdlib,
         sasl,
         mps
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "mps"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]},
       {app, mps, [{incl_cond, include}]}
      ]}.

{target_dir, "mps"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "data/ring"},
           {mkdir, "log/sasl"},
	   {mkdir, "lib/mps-1"},
           {copy, "../apps/mps/src/priv", "."},
	   {copy, "../apps/mps/src/priv", "lib/mps-1"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {template, "files/app.config", "etc/app.config"},
           {template, "files/vm.args", "etc/vm.args"},
           {template, "files/mps", "bin/mps"},
           {template, "files/mps-admin", "bin/mps-admin"}
           ]}.
